@using rhcon.Models
@model  List <periodosEncuesta>
@{
    ViewBag.Title = "ReporteResultados";
    Layout = "~/Views/Shared/_LayoutCrud.cshtml";
}




@using (Html.BeginForm("Reporte035", "Resultados", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <center>
        <select name="year" id="nom035">
            <option value="">
                Selecciona el año a descargar
            </option>
            @foreach (var data in Model)
            {

                <option value="@data.year">
                    @data.year
                </option>

            }
        </select>

    </center>


    <br />
    <center>

        <input id="btn_035" disabled type="submit" name="name" value="Reporte de resultados de la NOM-035-STPS-2018" class="btn btn-primary" formtarget="_blank" />

    </center>
}
<br />

@using (Html.BeginForm("Reporte025", "Resultados", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <center>
        <select name="year" id="nom025">
            <option value="">
                Selecciona el año a descargar
            </option>
            @foreach (var data in Model)
            {

                <option value="@data.year">
                    @data.year
                </option>

            }
        </select>

    </center>
    <br />
    <center>
        <input id="btn_025" disabled type="submit" name="name" value="Reporte de resultados de la NMX-R-025-SCFI-2015" class="btn btn-primary" formtarget="_blank" />
    </center>
}
<br />
<a href="~/Factores/Menuresultados" class="btn btn-primary">Regresar</a>

<script>
    var nom035 = document.querySelector("#nom035")
    var nom025 = document.querySelector("#nom025")
    var btn_035 = document.querySelector("#btn_035")
    var btn_025 = document.querySelector("#btn_025")


   nom035.addEventListener("change", (e) => {

       var value = e.target.value


       if (value !== "") {
           btn_035.removeAttribute("disabled", "")

           btn_035.setAttribute("enabled","")
        } else {
           btn_035.removeAttribute("enabled", "")

            btn_035.setAttribute("disabled", "")
        }
   })



    nom025.addEventListener("change", (e) => {

        var value = e.target.value


        if (value !== "") {
            btn_025.removeAttribute("disabled", "")

            btn_025.setAttribute("enabled", "")
        } else {
            btn_025.removeAttribute("enabled", "")

            btn_025.setAttribute("disabled", "")
        }
    })


</script>
