@using rhcon.Models.ViewModel
@model  rhcon.Models.ViewModel.ArchivoAtsViewModel
@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_LayoutCuestionario.cshtml";
}

<h1 style="font-weight:bold;">Historial de los registros de Acontecimientos Traumáticos Severos</h1>
<br />
<h1>Filtro de registros</h1>


<style>
    body {
        background-color: #E4E9F7;
    }



    h2 {
        font-size: 14px;
        font-weight: 600;
        padding-top: 20px;
    }

    h1 {
        font-size: 18px;
        text-align: center;
    }

    table {
        width: 100%;
        background: #fff;
        border-collapse: collapse;
        text-align: center;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    }


    .subta {
        width: 100%;
        background: #fff;
        border-collapse: collapse;
        text-align: center;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    }

    .separador {
        margin: 20px 0;
    }


    td a {
        text-decoration: none;
        color: white;
    }

    th {
        border-bottom: 1px solid #E9E9E9;
        padding: 20px;
    }

    th {
        color: #393A58;
        font-size: 16px;
    }

    .subta tr th {
        padding: 10px;
        border: transparent;
    }

    td {
        font-size: 14px;
        border-bottom: 1px solid #E9E9E9;
        padding: 10px;
        background: #3498db;
        color: white;
    }

    .agr {
        cursor: pointer;
        color: #ffd35c;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    @@media(max-width:768px) {
        table thead {
            display: none !important;
        }

        table, table tbody, table tr, table td {
            display: block;
            width: 100%;
        }

            table tr {
                margin-bottom: 15px;
            }

            table tbody tr td {
                text-align: right;
                padding-left: 50%;
                position: relative;
            }

            table td:before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 15px;
                font-weight: 600;
                font-size: 14px;
                text-align: left;
            }
    }
</style>



<div class="base_lista">
    <ul id="Menu">
        <div class="separador">
            <form method="get" id="selector" class="d-flex justify-content-center pb-4">
                <select class="form-select" aria-label="Default select example" name="tipo" id="filtro" style="width:50%">
                    <option selected>Todos los registros</option>
                    <option value="1">No he sufrido Acontecimientos Traumáticos Severos</option>
                    <option value="2">He sufrido un Acontecimiento Traumático Severo y no requiero valoración clínica</option>
                    <option value="3">He sufrido un Acontecimiento Traumático Severo y requiero valoración clínica</option>
                </select>
            </form>
            <table id="tabla" class="tabla tabla2">
                <thead>
                    <tr class="titulo">
                        <th>Registro</th>
                        <th>Informe sin ratificar</th>
                        <th>Informe ratificado</th>
                        <th> Acuse</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Registro)
                    {
                        <tr class="seguir">
                            <td data-label="Registro" style="text-align:justify !important;">
                                @if (int.Parse(item.acontecimiento) == 1)
                                {<span>No he sufrido un acontecimiento traumático severo</span>}
                                @if (int.Parse(item.acontecimiento) == 2)
                                {<span>Accidente que tuvo como consecuencia la pérdida de un miembro o una lesión grave durante o con motivo del trabajo</span>}
                                @if (int.Parse(item.acontecimiento) == 3)
                                {<span>Asalto durante o con motivo del trabajo</span>}
                                @if (int.Parse(item.acontecimiento) == 4)
                                {<span>Actos violentos que derivaron en lesiones graves durante o con motivo del trabajo</span>}
                                @if (int.Parse(item.acontecimiento) == 5)
                                {<span>Secuestro durante o con motivo del trabajo</span>}
                                @if (int.Parse(item.acontecimiento) == 6)
                                {<span>Amenazas durante o con motivo del trabajo</span>}
                                @if (int.Parse(item.acontecimiento) == 7)
                                {<span>Acto que puso en riesgo mi vida o salud, y/o la de otras personas durante o con motivo del trabajo</span>}
                            </td>
                            <td class="agr"><a class="agr" href="~/Files/@item.informe" download="informe.pdf">Fecha:@item.fecha_registro</a></td>
                            <td>
                                @if (String.IsNullOrEmpty(item.verificacion))
                                {
                                    <a href="#" class="agr" onclick="ratificar('@item.informe')">Pendiente de Ratificar</a>
                                }
                                else
                                {
                                    <a href="~/Files/@item.verificacion" class="agr" download="InformeRatificado.pdf">Fecha:@item.fecha</a>
                                }
                            </td>
                            @if (!String.IsNullOrEmpty(item.acuse))
                            {
                                <td><a href="~/Files/@item.acuse" download="acuse.pdf" class="agr">Descargar</a></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </ul>
</div>
<a href="~/Empleado/" class="btn btn-primary" style="float:right">Salir</a>
<br />
<br />



@{Html.RenderPartial("_Paginator", Model);}

@section scripts{



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function ratificar(id) {

            Swal.fire({
                title: 'Informe por ratificar',
                html: `
<style>
#form{
  display:flex;
    flex-flow: wrap column;
  align-items: center;
}

#form input{
  width:100%;
  margin:10px 0;
}

.archivo input{
  display:none;
}

.archivo label{
  background:#fabd39;
  padding:10px 20px;
  color:white;
  margin:5px 0;
  cursor:pointer;
}
</style>

  <form action="InformePdf" method="post"  enctype="multipart/form-data" id="reg" style="" class="formulario">
   <input type="hidden" id="nombre" name="nombre" value = "${id}">
  <div class="archivo">
   <input type="file" id="informe" name="informe">
   <label for="informe">subir informe</label>
  </div>
 </form>
  `,
                confirmButtonText: 'Ratificar',
                focusConfirm: false,
                preConfirm: () => {
                    var path = Swal.getPopup().querySelector('#informe').value
                    if (!path) {
                        Swal.showValidationMessage(`Error campos vacios`)
                    } else {
                        $("#reg").submit();
                    }
                    return { parametros: parametros }
                }
            });

        }


        function inft(data) {
            var url = "@Url.Content("~/Cuestionario/SubirInforme")";
            fetch(url, {
                method: 'POST', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.text())
                .catch(error => console.error('Error:', error))
                .then(response => console.log('Success:', response));



        }



        $('select#filtro').on('change', function () {
            $("#selector").submit();
        });

    </script>

}