@model rhcon.Models.ViewModel.CentroTrabajoViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-5 col-lg-9">
            <embed src="~/Assets/img/SVG/LOGO/SVGBIENESTAR.svg" style="width:500px; height:150px" type="image/svg+xml" />
        </div>
        <div class="col-7 col-lg-3 d-flex justify-content-end align-items-start">
            <div class="btn_perfil"><a href="~/Home/Logout"><i class="fas fa-sign-out-alt"></i></a><span>Cerrar Sesión</span></div>
        </div>
    </div>
    <br />

    <div class="row pt-2 pb-2">

        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0 col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/Empleados" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/EMPRESA/iniciodesesionnaranja.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Empleados(as)</h2>
            </a>
        </div>

        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/Resultados" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/EMPRESA/cuestionariosresultados.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Resultados de Cuestionarios y Encuestas</h2>
            </a>
        </div>

        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/PaginaEnConstruccion" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/LOGO/Copy of Investigación.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Plan de Acción</h2>
            </a>
        </div>

        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/PaginaEnConstruccion" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/ADMINISTRADOR/SVG Convenios.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Recursos</h2>
            </a>
        </div>
    </div>

    @* Segunda fila *@
    <br />
    <div class="row pt-2 pb-2">
        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/PaginaEnConstruccion" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/EMPRESA/Tablerodecomunicación.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Tablero de comunicacion</h2>
            </a>
        </div>
        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/PaginaEnConstruccion" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/EMPRESA/Comitedebienestarlaboral.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Comite de Bienestra Laboral</h2>
            </a>
        </div>
        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/PaginaEnConstruccion" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/EMPRESA/indentificacióndeacontecimientotraumaticosevero.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Acontecimiento Traumatico Severo</h2>
            </a>
        </div>
        <div class="mt-2 mb-2 mt-lg-0 mb-lg-0  col-6 col-lg-3 d-flex justify-content-center">
            <a href="~/CentroTrabajo/PaginaEnConstruccion" class="btn_option d-flex justify-content-center flex-column align-items-center">
                <span>
                    <embed src="~/Assets/img/SVG/EMPRESA/Lineadirecta.svg" style="width:80px; height:80px" type="image/svg+xml" />
                </span>
                <h2>Línea Directa </h2>
            </a>
        </div>
    </div>

    @* tercera fila *@
    <div class="row pt-0 pb-0 pt-lg-4 pb-lg-4">
    </div>
    <div class="row">
        <div class="col-12 col-lg-12 d-flex justify-content-between align-items-center flex-row" style="padding-top:70px;">
            <p class="leyenda">Centro de Trabajo: @Model.Nombre</p>
            <a href="https://rhcon.com.mx/" target="_blank">
                <span>
                    <embed src="~/Assets/img/SVG/LOGO/SVGLOGO.svg" style="width:400px; height:60px" type="image/svg+xml" />
                </span>
            </a>
        </div>
    </div>
</div>

