body {
    padding: 0;
    margin: 0;
    background: #E4E9F7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Hacer clickeable los svg*/
a {
    display: inline-block;
    position: relative;
    z-index: 1;
}

span {
    display: inline-block;
}

embed {
    position: relative;
    z-index: -1;
}
/*Fin de Hacer clickeable los svg*/


img {
    max-width: 100%;
}

.logo img {
    max-height: 80px;
    max-width: 80%;
}

.boton {
    margin: 0 10px;
}

.img_politicas {
    max-width: 150px;
}

.img_atencion {
    max-width: 300px;
}

.img_evaluacion {
    max-width: 400px;
    width: 60%;
}

.tablero img {
    max-width: 300px;
}

.cuadro {
    background-color: white;
}

.btn img {
    width: 50px;
    border-radius: 1rem;
    background: #FFFFFF;
    box-shadow: 16px 16px 32px #c4c4c4, -16px -16px 32px #ffffff;
}

svg {
    font-size: 50px;
    width: 65px;
    height: 65px;
    background: #FFFFFF;
}

.svg2 {
    font-size: 50px;
    width: 90px;
    height: 65px;
    background: #FFFFFF;
}

.btn span {
    font-size: .8rem;
}

.caja {
    height: 100%;
}

.btn {
    width: 50%;
}

.tablero_caja {
    height: 35vh;
}



/*Slider*/
.swiper-container {
    width: 100%;
    height: 23vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 500px;
    }

    .swiper-slide h1 {
        font-size: 18px;
        background-color: black;
        opacity: .6;
        padding: 2px 10px;
        color: white;
        display: inline-block;
    }

    .swiper-slide p {
        font-size: 12px;
        text-align: justify;
        background-color: white;
        opacity: .6;
        color: black;
    }

.contenedor-img {
    position: absolute;
    top: auto;
    width: 90%;
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
}

.btn_perfil {
    width: 50%;
    background-color: white;
    padding: 10px 10px;
    color: #007bff;
    -webkit-box-shadow: -11px 11px 10px 0px rgb(204 204 204);
    -moz-box-shadow: -11px 11px 10px 0px rgba(204,204,204,1);
    box-shadow: 2px 11px 10px 0px rgb(204 204 204);
    position: relative;
}

    .btn_perfil a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn_perfil span {
        position: absolute;
        top: 100%;
        width: 90%;
        text-align: center;
    }



.grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-right: 20px;
}

    .grid .caja {
        background-color: white;
    }

    .grid .caja1 {
        grid-row: 1 / 2;
    }

    .grid .caja2 {
        grid-row: 1 / 3;
        display: flex;
        align-items: center;
    }

    .grid .caja3 {
        grid-row: 2 / 3;
    }


.boton {
    -webkit-box-shadow: 11px 11px 10px 0px rgb(204 204 204);
    -moz-box-shadow: 11px 11px 10px 0px rgba(204,204,204,1);
    box-shadow: 11px 11px 10px 0px rgb(204 204 204);
    border-radius: 20%;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 200px;
    margin: 10px;
}

    .boton span {
        text-align: center;
        font-size: 15px;
    }

.contenedor_botonesx {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
}


.contenedor_botonesy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
}

.centroev svg {
    width: 100%;
}

.caja2 div {
    width: 100%;
}



@media (max-width: 900px) {



    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

        .grid .caja {
            background-color: white;
        }


        .grid .caja1 {
            grid-row: auto;
        }

        .grid .caja2 {
            grid-row: auto;
            display: flex;
            align-items: center;
        }

        .grid .caja3 {
            grid-row: auto;
        }


    .contenedor_botonesx {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }


    .contenedor_botonesy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        justify-self: center;
        justify-content: center;
    }

        .contenedor_botonesy div {
            justify-self: self-end;
            justify-content: center;
        }

    .contenedor_botonesx div {
        display: flex;
        justify-content: center;
    }

    .img_atencion {
        width: 50% !important;
    }
}

@media (max-width: 600px) {


    .swiper-container {
        width: 100%;
        min-height: 30vh;
        height: 100%;
    }

    .btn {
        margin: 15px 0;
    }

    .btn_perfil span {
        font-size: 10px;
    }

    .contenedor_botonesx {
        grid-row-gap: 20px;
    }

    .img_atencion {
        width: 50% !important;
    }
}