
body {
    font-family: sans-serif !important;
    padding: 0 20px;
}

* {
    font-family: sans-serif !important;
}


.foot {
    display: flex;
    justify-content: flex-end;
} 


.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}

.blanco {
    background-color: white;
    padding: 30px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.log {
    max-height: 80px;
    padding: 10px 0;
}


/*Clases de highcharts*/

.highcharts-figure,
.highcharts-data-table table {
  
    max-width: 1800px;
    margin: 1em auto;


}

#container {
    height: 400px;

}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;

}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}




.buttons {
    min-width: 310px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0;
}

    .buttons button {
        cursor: pointer;
        border: 1px solid silver;
        border-right-width: 0;
        background-color: #f8f8f8;
        font-size: 1rem;
        padding: 0.1rem;
        outline: none;
        transition-duration: 0.3s;
        margin: 0;
    }

        .buttons button:first-child {
            border-top-left-radius: 0.3em;
            border-bottom-left-radius: 0.3em;
        }

        .buttons button:last-child {
            border-top-right-radius: 0.3em;
            border-bottom-right-radius: 0.3em;
            border-right-width: 1px;
        }

        .buttons button:hover {
            color: white;
            background-color: rgb(158 159 163);
            outline: none;
        }

        .buttons button.active {
            background-color: #0051b4;
            color: white;
        }

        .img_grafica{
            max-height:500px;
        }

.highcharts-description {
    color: #737373;
    font-style:italic;
    text-align:justify;
    font-size:12px;
    color:white;

}

.no_grafic div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:wrap row;
}

.no_grafic div img{
    width:70%;
}

.no_grafic div h3{
    width:100%;
    text-align:center;
}

.no_grafic div h3 span {
    background: #009DDC;
    color:white;
    padding:10px 20px;
    display:inline-block;
    width:40%;
}

.opciones_menu {
    display: flex;
    justify-content: center;
    margin:15px 0;
}

    .opciones_menu a {
        margin: 10px 20px;
        background-color: #57a7dd;
        padding:.5rem 1rem;
        color:white;
        font-size:16px;
        text-decoration:none;
        border-radius:.2rem;
    }

    .salir{
        display:flex;
        justify-content:flex-end;
        margin-top:40px;
    }

        .salir a {
            margin: 10px 20px;
            background-color: #005096;
            padding: .5rem 1rem;
            color: white;
            font-size: 16px;
            text-decoration: none;
            border-radius: .2rem;
        }




.separador{
    display:flex;
    justify-content:center;
    align-items:center;

}


.nivelesDeRiesgo {
    width: 20%;
    margin-left: 20px;
    margin-bottom: 20px;
    align-self: end;
}

.nivelesDeRiesgo .categoria td{
    border:1px solid black;
    padding:10px 5px;
}

#containerNom035 {
    width: 80%;
    align-self:start;
}

.azul {
    background-color: #9ac5ed;
    fill: #9ac5ed;
}


.verde {
    background-color: #6bed4e;
    fill: #6bed4e;
}

.amarillo {
    background-color: #fff86b;
    fill: #fff86b;
}

.naranja {
    background-color: #e88a2c;
    fill: #e88a2c;
}

.rojo {
    background-color: #bd5151;
    fill: #bd5151;
}
.false{
    display:none;
}


/*Fitros*/

.filtros-grafic{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:wrap column;
    background-color:#e3e3e3;
    padding:20px 0;
    border-radius:10px;
    width:100%;

}

    .filtros-grafic h5 {
        color: #0d6efd;
        font-weight:bold;
    }

    .filtros-grafic label {
  
        color:black;
        font-weight:bold;
        padding:4px 10px;
        border-radius:5px;
    }
    .filtros-grafic select{
        padding:4px 10px;
        border:1px solid white;
        outline:none;
    }
    .botones{
        padding-top:20px;
    }
    h5{
        text-align:center;
        font-size:24px;
    }

.titleGeneral{
    text-align:center;
    font-size:18px;
    font-weight:bold;
    margin-top:20px;
}

.category{
    background-color: red;
}

