
@{
    ViewBag.Title = "Línea Directa";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="content">

    <div class="center">
        <h2 style="text-align: center;">TU SENTIR Y BIENESTAR ES IMPORTANTE</h2>
        <p class="botton"><a href="">Leer Mensaje</a></p>

        <div class="form__group">
            <select name="" id="" class="form__field">
                <option value="Seleccione la Empresa">Seleccione la Empresa</option>
            </select>
        </div>

        <div class="form__group">
            <select name="" id="" class="form__field">
                <option value="Seleccione la Empresa">Seleccione su Centro de Trabajo</option>
            </select>
        </div>

        <p class="">Horario de Trabajo</p>

        <div class="doble">

            <div class="form__group">
                <input type="time" class="form__field">
                <label class="label" for="">Hora de Entrada</label>
            </div>

            <div class="form__group">
                <input type="time" class="form__field">
                <label class="label" for="">Hora de Salida</label>
            </div>

        </div>
        <p>Tipo de mensaje:</p>
        <div class="form__group">
            <select name="" id="" class="form__field">
                <option value="Selecciona una de las opciones de acuerdo al mensaje que enviarás">
                    Selecciona una de las
                    opciones de acuerdo al mensaje que enviarás
                </option>
                <option value="Sugerencia"> Sugerencia.</option>
                <option value="Felicitación">Felicitación.</option>
                <option value="Queja">Queja.</option>
                <option value="Situacion sensible">Situación Sensible.</option>
                <option value="Incumplimiento de la Nom 035 STPS">Incumplimiento de la Nom 035 STPS.</option>
                <option value="Percepción de Clima Laboral y no Discriminación">
                    Percepción de Clima Laboral y no
                    Discriminación.
                </option>
                <option value="Acontecimiento Traumatico Severo">Acontecimiento Traumático Severo.</option>
                <option value="COVID-19">COVID-19.</option>
                <option value="Denuncia Violencia Laboral.">Denuncia Violencia Laboral.</option>
                <option value="Denuncia Actos Contrarios a un Entorno Laboral Favorable">
                    Denuncia Actos Contrarios a un
                    Entorno Laboral Favorable.
                </option>
            </select>
        </div>

        <div class="form__group">
            <textarea class="form__field" name="" id="" cols="30" rows="10" placeholder="Describe la situación completa que deseas compartir:"></textarea>
            <label class="label" class="form__label">Describe la situación completa que deseas compartir:</label>
        </div>


        <div class="doble">

            <div class="form__group">
                <input type="date" class="form__field">
                <label class="label" for="">Fecha en la que sucedió.</label>
            </div>

            <div class="form__group">
                <input type="time" class="form__field">
                <label class="label" for="">Hora en la que sucedió.</label>
            </div>

        </div>


        <div class="form__group">
            <textarea class="form__field" name="" id="" cols="30" rows="10"></textarea>
            <label class="label" class="form__label">Personas involucradas o que tuvieron conocimiento de la situación.</label>
            </select>
        </div>

        <div class="form__group">
            <input type="text" class="form__field" placeholder="Expectativa ante la situación para dar solución a la misma">
            <label class="label" for="" class="form__label">Expectativa ante la situación para dar solución a la misma</label>
        </div>


        <div class="form__group">
            <input type="text" class="form__field" placeholder="Domicilio del Centro de Trabajo">
            <label class="label" for="" class="form__label">Domicilio del Centro de Trabajo</label>
        </div>

        <div class="form__group">
            <input type="text" class="form__field" placeholder="Área / Función de la persona que reportas">
            <label class="label" for="" class="form__label">Área / Función de la persona que reporta</label>
        </div>

        <P>Leer Aviso</P>

        <div class="form__group">
            <input type="text" class="form__field" placeholder="Nombre Completo del Empleado">
            <label class="label" for="" class="form__label">Nombre Completo del Empleado</label>
        </div>

        <div class="form__group">
            <input type="text" class="form__field" placeholder="Forma de contacto (teléfono, celular o correo electrónico)">
            <label class="label" for="" class="form__label">Forma de contacto (teléfono, celular o correo electrónico)</label>
        </div>


        <div class="form__group">
            f
            <input type="file" class="form__field">
            <label class="label" for="" class="form__label">Subir Evidencia</label>
        </div>

        <div class="botton">
            <a href="#" id="enviar" class="enviar">ENVÍA TU MENSAJE</a>
        </div>
        <div>
            <p>
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
    </div>
</div>

